{% extends 'base.html' %}

{% block head %}
{% load static %}
{% endblock %}
{% block body %}
<div class="container">
    <form id="search_products" method="POST" action="/search_products/">
        {% csrf_token %}
        <input name="title" type="text">
        <input name="min_price" type="number">
        <input name="max_price" type="number">
        <button type="submit" name="submit">جستجو</button>
    </form>
    <div id="all_products">
        {% for product in products %}
        <div class="{{product.class}}">
            <h4>{{product.name}}</h4>
            <div>{{product.price}}</div>
            <div>{{product.quantity}}</div>
            <div>{{product.seller_first_name}}</div>
            <div>{{product.seller_last_name}}</div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}