{% extends 'base.html' %}

{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Home/all_products.css' %}">


{% endblock %}
{% block body %}
<form id="search_products" method="POST" action="/search_products/">
    <h1>صفحه محصولات</h1>
    <p dir="rtl">شما می‌توانید تمامی محصولات را در این صفحه ببینید و بین آن‌ها جستجو کنید.</p>
    {% csrf_token %}
    <div class="row" dir="ltr">
        <div class="col-2"><input name="title" type="text" class="form-control" placeholder="متن جستجو"></div>
        <div class="col-2"><input name="min_price" type="number" class="form-control" placeholder="حد پایین قیمت"></div>
        <div class="col-2"><input name="max_price" type="number" class="form-control" placeholder="حد بالا قیمت"></div>
        <div class="col-2"><input name="seller_name" type="text" class="form-control" placeholder="فروشنده"></div>
        <div class="col-2"><input name="tag" type="text" class="form-control" placeholder="تگ‌ها"></div>
        <div class="col-2"><button type="submit" name="submit" class="btn btn-success" id="search_btn">جستجو</button></div>
    </div>
</form>
<!--<form id="order_products" method="POST">-->
<!--    <input name="order_type" type="select" placeholder="مرتب سازی بر اساس...">-->
<!--</form>-->
<div id="all_products" class="row all_products">
    {% for product in products %}
    <div class="{{product.class}} product col-4">
        <h4>{{product.name}}</h4>
        <div>قیمت: {{product.price}} تومان</div>
        <div>موجودی: {{product.quantity}} عدد</div>
        <div class="tags">
            {% for tag in product.tags %}
            {{tag}}
            {% endfor %}
        </div>
        <div>فروشنده: {{product.seller_first_name}} {{product.seller_last_name}}</div>
        <a id="{{product.class}}" href="/product/{{product.pk}}" class="btn btn-success">صفحه محصول</a>
        <div id="product_rate">{{product.rate}}</div>
        <form id="rate_{{product.class}}" method="POST" action="/submit_rate/{{product.pk}}">
            {% csrf_token %}
            <input name="rate" type="number" min="0" max="5" placeholder="امتیاز">
            <button name="submit" type="submit" class="btn-success btn">ثبت نظر</button>
        </form>
    </div>

    {% endfor %}
</div>
{% endblock %}