{% extends 'base.html' %}

{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Accounts/form_page.css' %}">

{% endblock %}
{% block body %}
<form id="contact_us_form" action="{% url 'contactus' %}" method="POST">
    <h1>صفحه تماس با ما</h1>
    <p dir="rtl">برای تماس با ما در فروشگاه وبلوپرز از طریق فرم زیر اقدام نمایید.</p>
    {% csrf_token %}
    <input type="text" name="title" required class="form-control" placeholder="عنوان">
    <input type="email" name="email" required class="form-control" placeholder="آدرس الکترونیکی">
    <textarea name="text" required class="form-control" placeholder="متن درخواست"></textarea>
    <div class="row">
        <button type="submit" name="submit" class="btn btn-success">ارسال</button>
    </div>
</form>
<div id="done">
    {% if done == "done" %}
    <p>درخواست شما ثبت شد</p>
    {% endif %}
</div>
{% endblock %}