{% extends 'base.html' %}

{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Home/product.css' %}">


{% endblock %}
{% block body %}
<h4 id="name">{{product.name}}</h4>
<div id="quantity">
    {{product.quantity}}
</div>
<div id="price">
    {{product.price}}
</div>
<div id="seller_name">
    {{product.seller.first_name}}
</div>
<div id="seller_family">
    {{product.seller.last_name}}
</div>
<div id="comments">
    {% for comment in product.comments %}
    <div>
        {{comment.user.username}}
    </div>
    <div>
        {{comment.text}}
    </div>
    {% endfor %}
</div>
<form id="write_comment" method="POST">
    <textarea name="text" type="text" placeholder="متن نظر">
    <button name="submit" type="submit" class="btn btn-success">مرتب سازی</button>
</form>
{% endblock %}