{% extends 'base.html' %}

{% block head %}
{% load static %}
{% endblock %}
{% block body %}
<div class="container">
    <form id="register_form" method="POST" action="/accounts/register/">
        {% csrf_token %}
        <input name='first_name' type="text" class="form-control" placeholder="First Name" required>
        <input name='last_name' type="text" class="form-control" placeholder="Last Name" required>
        <input name='username' type="text" class="form-control" placeholder="Username" required>
        <input name='email' type="email" class="form-control" placeholder="E-mail" required>
        <input name='password1' type="password" class="form-control" placeholder="Password" required>
        <input name='password2' type="password" class="form-control" placeholder="Password Again" required>
        <button name='submit' class="btn btn-success">ثبت‌نام</button>
    </form>
    <div id="errors">
    {% if error == "username_taken_error" %}
        <p>نام کاربری شما در سیستم موجود است</p>
    {% elif error == "passwords_match_error" %}
        <p>گذرواژه و تکرار گذرواژه یکسان نیستند</p>
    {% endif %}

    </div>
</div>
{% endblock %}