{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Accounts/form_page.css' %}">
{% endblock %}
{% block body %}
<form id="register_form" method="POST" action="/accounts/register/">
    <h1>صفحه ثبت‌نام</h1>
    <p dir="rtl">برای ثبت‌نام در فروشگاه وبلوپرز از طریق فرم زیر اقدام نمایید.</p>
    {% csrf_token %}
    <input name='first_name' type="text" class="form-control" placeholder="نام" required>
    <input name='last_name' type="text" class="form-control" placeholder="نام خانوادگی" required>
    <input name='username' type="text" class="form-control" placeholder="نام کاربری" required>
    <input name='email' type="email" class="form-control" placeholder="آدرس الکترونیکی" required>
    <input name='password1' type="password" class="form-control" placeholder="رمز عبور" required>
    <input name='password2' type="password" class="form-control" placeholder="تکرار رمز عبور" required>
    <div class="row">
        <button name='submit' class="btn btn-success">ثبت‌نام</button>
    </div>
    <div id="errors">
    {% if error == "username_taken_error" %}
        <div class="alert alert-danger" role="alert"><p>نام کاربری شما در سیستم موجود است</p></div>
    {% elif error == "passwords_match_error" %}
        <div class="alert alert-danger" role="alert"><p>گذرواژه و تکرار گذرواژه یکسان نیستند</p></div>
    {% endif %}
    </div>

</form>


{% endblock %}