{% extends 'base.html' %}

{% block head %}
{% load static %}
{% endblock %}
{% block body %}
<div class="cotainer">
    <form id="become_seller" action="/panel/" method="POST">
        {% csrf_token %}
        <button type="submit" name="submit">می‌خواهم فروشنده شوم</button>
    </form>
    <div id="done">
        {% if done == "done" %}
        <p>با موفقیت فروشنده شدید</p>
        {% endif %}
    </div>
    <div id="error">
        {% if error == "already_seller_error" %}
        <p>شما فروشنده هستید</p>
        {% endif %}
    </div>
    {% if is_seller %}
    <a id="make_new_product" href="/panel/new/">ثبت محصول جدید</a>
    {% endif %}
</div>
{% endblock %}